@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import "/core/style/grid";
@import "/core/style/defStyle";

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

