@import '../../core/style/variables';

.PageMovieInfo__wrapper {
    display: block;
    position: relative;
    background-size: 100%!important;
    padding-top: 30px;
    height: 100%;
    @include medium-screen {
        background-size: cover!important;
    }
    & > .PageMovieInfo__container {
        & > .PageMovieInfo__row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100vh;
            padding: 40px 0;
            justify-content: center;
            align-items: center;
            @include x-small-screen {
                height: 100%;
                flex-direction: column;
                margin-top: 180px;
            }
            & > .PageMovieInfo__left-column {
                display: flex;
                flex: 1 1 20%;
                flex-direction: column;
                flex-wrap: wrap;
                position: relative;
                justify-content: center;
                align-items: stretch;
                @include medium-screen {
                    flex: 1 1 30%;
                }
                @include x-small-screen {
                    flex: 1 1 100%;
                    padding: 0;
                    width: 100%;
                }

                & > .PageMovieInfo__left-column_poster {
                    display: block;
                    position: relative;
                    max-width: 400px;
                    border-radius: 10px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.85), 0 10px 10px rgba(0,0,0,0.55);
                    @include medium-screen {
                        width: 100%;
                    }
                    @include x-small-screen {
                        width: 60%;
                        max-width: 100%;
                        height: auto;
                        margin: auto;
                    }
                }
            }
            & > .PageMovieInfo__right-column {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                flex: 1 1 70%;
                padding: 20px 50px;
                @include medium-screen {
                    padding: 10px 40px;
                }
                @include small-screen {
                    padding: 10px 20px;
                }
                @include x-small-screen {
                    flex: 1 1 100%;
                    padding: 0 100px;
                    margin-top: 50px;
                    width: 100%;
                }
                & > .PageMovieInfo__title {
                    font-size: $h0;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: $default-90;
                    line-height: 1.2;
                    text-shadow: 0 3px 3px rgba(0,0,0,0.35), 0 2px 2px rgba(0,0,0,0.15);
                    @include medium-screen {
                        font-size: 34px;
                        margin-bottom: 20px;
                    }
                    @include small-screen {
                        font-size: 24px;
                    }
                    @include x-small-screen {
                        font-size: 48px;
                    }
                }
                & > .PageMovieInfo__quote {
                    font-size: $h2;
                    font-style: italic;
                    font-weight: 300;
                    color: $default-90;
                    margin-bottom: 20px;
                    text-shadow: 0 3px 3px rgba(0,0,0,0.35), 0 2px 2px rgba(0,0,0,0.15);
                    @include medium-screen {
                        font-size: 24px;
                    }
                    @include small-screen {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                    @include x-small-screen {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                }
                & > .PageMovieInfo__inline-block {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: stretch;

                    margin-bottom: 20px;
                    @include medium-screen {
                        margin-bottom: 10px;
                    }
                    @include x-small-screen {
                        margin-bottom: 20px;
                        justify-content: space-between;
                    }
                    & > .PageMovieInfo__data-release {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        margin-right: 30px;
                        color: #da2210;
                        text-shadow: 0 3px 3px rgba(0,0,0,0.45), 0 2px 2px rgba(0,0,0,0.15);
                        @include medium-screen {
                            margin-right: 15px;
                        }
                        @include small-screen {
                            padding: 0;
                        }
                        @include x-small-screen {

                        }
                    }
                    & > .PageMovieInfo__votes {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        margin-right: 30px;
                        color: #f3b50e;
                        text-shadow: 0 3px 3px rgba(0,0,0,0.45), 0 2px 2px rgba(0,0,0,0.15);
                        @include medium-screen {
                            margin-right: 15px;
                        }
                        @include small-screen {
                            padding: 0;
                        }
                    }
                    & > .PageMovieInfo__votes-count {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        margin-right: 30px;
                        color: #22a7ff;
                        text-shadow: 0 3px 3px rgba(0,0,0,0.45), 0 2px 2px rgba(0,0,0,0.15);
                        @include medium-screen {
                            margin-right: 15px;
                        }
                        @include small-screen {
                            padding: 0;
                        }
                    }
                    & .PageMovieInfo__inline-block_icon {
                        width: 50px;
                        height: 50px;
                        margin-right: 15px;
                        //box-shadow: 0 3px 3px rgba(0,0,0,0.35), 0 2px 2px rgba(0,0,0,0.15);
                        overflow: hidden;
                        @include small-screen {
                            width: 30px;
                            height: 30px;
                        }
                        @include x-small-screen {
                            width: 80px;
                            height: 80px;
                        }
                        & > img {
                            display: block;
                            width: 100%;
                        }
                    }
                    & .PageMovieInfo__inline-block_text {
                        font-size: $h1;
                        font-weight: bold;
                        @include x-small-screen {
                            font-size: 55px;
                        }
                    }
                }
                & > .PageMovieInfo__description {
                    font-size: $default + 2;
                    line-height: 1.4;
                    padding: 10px;
                    text-shadow: 0 3px 3px rgba(0,0,0,0.35), 0 2px 2px rgba(0,0,0,0.15);
                    margin-bottom: 20px;
                    color: $default-90;
                    @include medium-screen {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    @include small-screen {
                        font-size: 16px;
                        line-height: 1.2;
                    }
                    @include x-small-screen {
                        font-size: 28px;
                        line-height: 1.4;
                        padding: 20px 0;
                    }
                }
                & > .PageMovieInfo__block-button {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: stretch;
                    justify-content: flex-start;
                    margin: 15px 0;
                    @include x-small-screen {
                        justify-content: space-between;
                    }
                    & > .PageMovieInfo__button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 8px 10px;
                        width: 175px;
                        text-align: center;
                        margin-right: 30px;
                        border-radius: 15px;
                        font-size: $default - 2;
                        color: $dark-90;
                        background-color: rgba(178, 178, 178, 0.5);
                        box-shadow: 0 3px 3px rgba(0,0,0,0.35), 0 2px 2px rgba(0,0,0,0.15);
                        border: 1px solid #000000;
                        justify-content: center;
                        transition: all .4s ease;
                        @include small-screen {
                            width: auto;
                        }
                        @include x-small-screen {
                            width: 30%;
                            margin-right: 0;
                            font-size: 20px;
                            text-align: center;
                        }
                        &:hover {
                            background-color: rgba(240, 240, 240, 0.7);
                            cursor: pointer;
                        }
                    }
                    & .favorites {
                        position: relative;
                        &:hover {
                            & > i {
                                background: url("/images/toFavorites_active.png") no-repeat center center;
                                background-size: cover;
                            }
                        }
                        & > i {
                            display: block;
                            position: relative;
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                            background: url("/images/toFavorites.png") no-repeat center center;
                            background-size: cover;
                            @include x-small-screen {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    & .later {
                        position: relative;
                        &:hover {
                            & > i {
                                background: url("/images/later_active.png") no-repeat center center;
                                background-size: cover;
                            }
                        }
                        & > i {
                            display: block;
                            position: relative;
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                            background: url("/images/later.png") no-repeat center center;
                            background-size: cover;
                            @include x-small-screen {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    & .watched {
                        position: relative;
                        &:hover {
                            & > i {
                                background: url("/images/watched_active.png") no-repeat center center;
                                background-size: cover;
                            }
                        }
                        & > i {
                            display: block;
                            position: relative;
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                            background: url("/images/watched.png") no-repeat center center;
                            background-size: cover;
                            @include x-small-screen {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    & .watched-active {
                        position: relative;
                        color: $dark-90;
                        background-color: rgba(241, 241, 241, 0.85);
                        & > i {
                            display: block;
                            position: relative;
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                            background: url("/images/watched_active.png") no-repeat center center;
                            background-size: cover;
                            @include x-small-screen {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    & .later-active {
                        position: relative;
                        color: $dark-90;
                        background-color: rgba(241, 241, 241, 0.85);
                        & > i {
                            display: block;
                            position: relative;
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                            background: url("/images/later_active.png") no-repeat center center;
                            background-size: cover;
                            @include x-small-screen {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    & .favorites-active {
                        position: relative;
                        color: $dark-90;
                        background-color: rgba(241, 241, 241, 0.85);
                        & > i {
                            display: block;
                            position: relative;
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                            background: url("/images/toFavorites_active.png") no-repeat center center;
                            background-size: cover;
                            @include x-small-screen {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }


                }
                & > .PageMovieInfo__block-trailer {
                    display: flex;
                    @include x-small-screen {
                        align-items: center;
                        justify-content: center;
                    }

                    & > .PageMovieInfo__trailer-button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 250px;
                        padding: 5px 10px;
                        background-color: rgba(178, 178, 178, 0.5);
                        border: 1px solid #000000;
                        border-radius: 15px;
                        @include medium-screen {
                            width: 230px;
                        }
                        @include x-small-screen {
                            width: 50%;
                            padding: 15px 20px;
                            font-size: 26px;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: rgba(249, 249, 249, 0.5);
                        }
                        & > i {
                            display: block;
                            position: relative;
                            width: 50px;
                            height: 50px;
                            margin-right: 10px;
                            background: url("/images/youtube_icon.png") no-repeat center center;
                            background-size: 100%;
                            @include medium-screen {
                                width: 30px;
                                height: 30px;
                            }
                            @include x-small-screen {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }

            }
        }
        & > .PageMovieInfo__block-actors {
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35), 0 2px 2px rgba(0, 0, 0, 0.15);
            @include small-screen {
                padding: 15px;
            }
            @include x-small-screen {
                padding: 25px;
            }
            & > h3 {
                font-size: 24px;
                color: rgba(255, 255, 255, 0.9);
                text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35), 0 2px 2px rgba(0, 0, 0, 0.15);
                margin-bottom: 25px;
                @include x-small-screen {
                    font-size: 38px;
                }
            }
            & > .PageMovieInfo__actors {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
        }
        & > .PageMovieInfo__block-similar {
            display: flex;
            width: 100%;
            position: relative;
            flex-direction: column;
            margin-top: 40px;
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35), 0 2px 2px rgba(0, 0, 0, 0.15);
            padding: 30px;
            border-radius: 8px;
            & > h3 {
                font-size: 24px;
                color: rgba(255, 255, 255, 0.9);
                text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35), 0 2px 2px rgba(0, 0, 0, 0.15);
                margin-bottom: 10px;
                @include x-small-screen {
                    font-size: 38px;
                }
            }
            & > .PageMovieInfo__similar-films {
                display: flex;
                width: 100%;
                position: relative;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: center;
                padding: 15px;
                @include medium-screen {
                    align-items: center;
                }
                @include small-screen {
                    align-items: center;
                }
            }
        }
    }
}
.PageMovieInfo__not-found {
    font-size: 36px;
    display: flex;
    margin: auto;
}
.PageMovieInfo__loading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #da2210;
    position: relative;
    width: 100vw;
    height: 100vh;

    & > h3 {
        font-size: 68px;
        color: #f9f9f9;
        text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35), 0 2px 2px rgba(0, 0, 0, 0.15);
    }

    .slider{
        position:absolute;
        width:300px;
        height:4px;
        margin-top:55px
    }
    .line{
        position:absolute;
        background:#f9f9f9;
        width:300px;
        height:4px;

    }
    .break{
        position:absolute;
        background:#da2210;
        height:4px;
    }
    .dot1 {
        width: 10px;
    }

    .dot2 {
        width: 10px;
    }

    .dot3 {
        width: 10px;
    }

    .dot1{ animation: loading 2s infinite;}
    .dot2{ animation: loading 2s 0.5s infinite; }
    .dot3{ animation: loading 2s 1s infinite; }

    @keyframes loading {
        from { left: 0; }
        to { left: 300px; }
    }

}