@import '../../core/style/variables';


.CastList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    & h3 {
        @include x-small-screen {
            font-size: 36px;
        }
    }
}