@import '../../core/style/variables';

.ElementHeaderSlide__slider {
    display: block;
    position: relative;
    height: 100vh;
    min-height:100vh;
    width: 100%;
    @include x-small-screen {
        height: 100%;
        min-height:100%;
    }
    & .ElementHeaderSlide__slide {
        display: flex;
        position: relative;
        width: 100%;
        height:100vh;
        min-height:100vh;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        background-size: cover!important;
        @include x-small-screen {
            height: 100%;
            min-height:auto;
            //min-height:auto;
            flex-direction: column-reverse;
        }
        & .ElementHeaderSlide__left-side {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 1 1 65%;
            justify-content: center;
            align-items: stretch;
            padding-right: 8%;
            @include large-screen {
                flex: 1 1 60%;
            }
            @include medium-screen {
                flex: 1 1 70%;
            }
            @include small-screen {
                flex: 1 1 70%;
            }
            @include x-small-screen {
                flex: 1 1 100%;
                align-items: center;
                margin-top: 20px;
                padding: 30px;
            }
            & .ElementHeaderSlide__title {
                display: block;
                position: relative;
                width: 100%;
                font-size: 55px;
                text-transform: uppercase;
                line-height: 1.4;
                letter-spacing: 1px;
                color: $default-90;
                font-weight: bold;
                padding: 15px 10px;
                text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                @include large-screen {
                    font-size: 45px;
                }
                @include medium-screen {
                    font-size: 35px;
                }
                @include small-screen {
                    font-size: 30px;
                    padding: 5px;
                }
                @include x-small-screen {
                    font-size: 38px;
                    padding: 0 20px;
                    text-align: center;
                }
            }
            & .ElementHeaderSlide__popularity {
                display: block;
                position: relative;
                width: 100%;
                font-size: 24px;
                color: $default-80;
                padding: 0 10px;
                text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                margin-bottom: 10px;
                @include medium-screen {
                    font-size: 20px;
                }
                @include small-screen {
                    font-size: 18px;
                }
                @include x-small-screen {
                    display: none;
                }
                & > span {
                    margin-left: 20px;
                    font-weight: bold;
                    font-size: 36px;
                    color: #ffd800;
                    @include medium-screen {
                        font-size: 30px;
                    }
                    @include small-screen {
                        font-size: 24px;
                    }

                }
            }
            & .ElementHeaderSlide__data-release {
                display: block;
                position: relative;
                width: 100%;
                font-size: 24px;
                color: $default-80;
                padding: 0 10px;
                margin-bottom: 30px;
                text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                @include medium-screen {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                @include small-screen {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                @include x-small-screen {
                    display: none;
                }
                & > span {
                    font-weight: bold;
                    margin-left: 20px;
                }
            }
            & .ElementHeaderSlide__description {
                display: block;
                position: relative;
                width: 100%;
                font-size: $default + 2;
                line-height: 1.5;
                padding: 10px;
                color: $default-90;
                margin-bottom: 30px;
                text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                @include medium-screen {
                    font-size: 16px;
                }
                @include small-screen {
                    font-size: 16px;
                    margin-bottom: 10px;
                    padding: 5px;
                }
                @include x-small-screen {
                    font-size: 28px;
                    padding: 10px 20px;
                    text-align: center;
                }

            }
            & .ElementHeaderSlide__link-to-movie {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding-left: 10px;
                & .ElementHeaderSlide__link-to-movie_button {
                    padding: 15px 20px;
                    border-radius: 6px;
                    font-size: 20px;
                    background-color: transparent;
                    border: 1px solid $default-90;
                    color: $default-90;
                    @include medium-screen {
                        font-size: 18px;
                        padding: 10px 15px;
                    }
                    @include small-screen {
                        font-size: 16px;
                        padding: 10px 10px;
                    }
                    @include x-small-screen {
                        font-size: 28px;
                        padding: 20px 20px;
                    }
                    &:hover {
                        border-color: #da2210;
                        cursor: pointer;
                        background-color: #da2210;
                    }
                }
            }
        }
        & .ElementHeaderSlide__right-side {
            display: flex;
            flex-direction: column;
            position: relative;
            flex-wrap: wrap;
            padding: 50px 0px 50px 50px;
            @include medium-screen {
                flex: 1 1 30%;
                padding: 25px 0px 25px 25px;
            }
            @include small-screen {
                flex: 1 1 30%;
            }
            @include x-small-screen {
                flex: 1 1 100%;
                padding: 0;
                width: 100%;
                margin-top: 180px;
            }
            & .ElementHeaderSlide__poster {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                padding: 20px;
                @include x-small-screen {
                    width: 100%;
                    padding: 0;
                }
                & .ElementHeaderSlide__poster-image {
                    display: block;
                    position: relative;
                    max-width: 70%;
                    border-radius: 10px;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.85), 0 10px 10px rgba(0,0,0,0.55);
                    @include large-screen {
                        max-width: 60%;
                    }
                    @include medium-screen {
                        max-width: 80%;
                    }
                    @include small-screen {
                        max-width: 80%;
                    }
                    @include x-small-screen {
                        max-width: 100%;
                        width: 55%;
                        padding: 0;
                    }

                }
            }

        }
    }
}
.ElementHeaderSlide__head-title {
    position: absolute;
    right: 60px;
    top: 130px;
    padding-left: 10px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #da2020;
    line-height: 1.5;
    letter-spacing: 5px;
    z-index: 10;
    text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    @include x-small-screen {
        right: 21%;
        top: 100px;
        //transform: translateX(-50%);
        padding: 0;
        font-size: 36px;
    }
}

.slick-active {
    z-index: 1000;
}