@import '../../core/style/variables';


.PageMain__wrapper {
    position: relative;
    width: 100%;
    background-color: black;
    .PageMain__container {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%), url("/images/movieflix-background.jpg") no-repeat center center fixed;
        //background-color: #fff;
        .PageMain__block-popular-films, .PageMain__block-coming-films, .PageMain__block-rating-films {
            margin: 20px 0;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0 40px;
        }
        .PageMain__block-title {
            font-size: 32px;
            padding: 20px 10px;
            font-weight: bold;
            color: #c3c3c3;
            text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            margin-bottom: 15px;
        }
        .PageMain__element-link {
            display: block;
            position: relative;
            .PageMain__element {
                display: block;
                position: relative;
                margin: 10px;
                width: 220px;
                height: 325px;
                background: #000000 center center no-repeat;
                background-size: 100%;
                overflow: hidden;
                transition: background 1s ease;
                box-shadow: 0 3px 10px rgba(0,0,0,0.35), 0 5px 5px rgba(0,0,0,0.15);
                border-radius: 8px;
                @include medium-screen {
                    width: auto;
                    height: 250px;
                    background-size: 100%;
                }
                @include small-screen {
                    height: 300px;
                }
                @include x-small-screen {
                    height: 270px;
                }
                & > .PageMain__overlay {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: flex-start;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.65) 60%,  rgba(0, 0, 0, 0.9) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
                    padding: 10px;
                    position: relative;
                    height: 100%;
                    opacity: 0;
                    color: lightgrey;
                    transition: opacity .3s ease;

                    & > .PageMain__overlay_title {
                        margin-top: 5px;
                        font-size: 24px;
                        font-weight: bold;
                        text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        @include medium-screen {
                            font-size: 22px;
                            font-weight: 500;
                        }
                    }
                    & > .PageMain__overlay_rating {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: bold;
                        margin-top: 5px;
                        font-size: 20px;
                        text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        @include medium-screen {
                            font-size: 14px;
                        }
                        & > span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            width: 50px;
                            margin-right: 10px;
                            height: 50px;
                            border-radius: 50%;
                            font-size: 20px;
                            background-color: #ffd800;
                            color: #da2210;
                            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                            @include medium-screen {
                                font-size: 16px;
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                    & > .PageMain__overlay_plot {
                        font-size: 14px;
                        margin-top: 20px;
                        font-weight: 400;
                        line-height: 1.6;
                        text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        @include medium-screen {
                            font-size: 14px;
                            overflow: hidden;
                            margin-top: 10px;
                            line-height: 1.2;
                        }
                        @include small-screen {
                            font-size: 14px;
                            overflow: hidden;
                            margin-top: 10px;
                            line-height: 1.2;
                        }
                        @include x-small-screen {
                            font-size: 15px;
                        }
                    }
                }
                &:hover {
                    background-size: 120%;
                    & > .PageMain__overlay {
                        opacity: 1;
                    }
                }
            }
        }

    }
}

.slick-next:before, .slick-prev:before {
    color: #da2210;
}


.PageMain__slider_1, .PageMain__slider_2, .PageMain__slider_3 {
    & .slick-list {
        //height: 335px;
    }

}
