@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

//fonts
$font: 'Roboto', sans-serif;
$h0: 48px;
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$default: 16px;
$fontTable: 18px;
$extrabold: 900;
$bold: 700;
$medium: 500;
$regular: 400;

//color text
$dark:    #1b2733;
$dark-90: rgba(27, 39, 51, 0.9);
$dark-70: rgba(27, 39, 51, 0.7);
$dark-50: rgba(27, 39, 51, 0.5);
$dark-30: rgba(27, 39, 51, 0.3);
$dark-15: rgba(27, 39, 51, 0.15);

$default-50: rgba(255, 255, 255, 0.5);
$default-70: rgba(255, 255, 255, 0.7);
$default-80: rgba(255, 255, 255, 0.8);
$default-90: rgba(255, 255, 255, 0.9);

$container-large: 1396px;
$container-medium: 1152px;
$container-small: 848px;
$container-tablet: 704px;
$container-mobile: 288px;


@mixin large-screen() {
    @media all and (min-width: 1450px) {
        @content;
    }
}

@mixin medium-screen() {
    @media all and (max-width: 1450px) {
        @content;
    }
}

@mixin small-screen() {
    @media all and (max-width: 1250px) {
        @content;
    }
}

@mixin xsmall-screen() {
    @media all and (max-width: 860px) {
        @content;
    }
}
